@model List<ProductVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="container">
        <div class="col-md-12">
            <div class="row product-list">
                <div class="col-md-12 text-center mb-3">
                    <h1 class="home_header">
                        Asian Kitchen's Menu
                    </h1>
                </div>
                <div class="col-md-12 text-center mb-3">
                    <a asp-area="" asp-action="index" asp-controller="Home" asp-route-id="" class="btn btn-round btn-default" style="margin-bottom:10px;">All</a>
                    @foreach (var item in ViewBag.SubCategories)
                    {
                        <a asp-area="" asp-action="index" asp-controller="Home" asp-route-id="@item.ID" class="btn btn-round btn-default" style="margin-bottom:10px;">@item.SubCategoryName</a>
                    }
                </div>
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                                @if (product.ImagePath != null)
                                {
                                    <img class="imageSize" src="@product.ImagePath" alt="Product img" />
                                }
                                else
                                {
                                    <img src="~/Content/img/product1.jpg" alt="Error">
                                }
                                <a href="/Cart/AddToCart/@product.ID" class="adtocart">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </div>

                            <div class="panel-body text-center">
                                <h4>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@product.ID" class="pro-title">@product.ProductName</a>
                                </h4>
                                <p class="price"> @product.UnitPrice <i class="icon-usd"></i></p>
                            </div>
                        </section>
                    </div>
                }
            </div>
        </div>
    </div>
</div>