@model AppUserVM

<div class="top-nav ">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <ul class="nav pull-right top-menu">
            <li class="dropdown">
                @if (Model.ImagePath == null)
                {
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="~/Content/img/avatar1_small.jpg">
                        <span class="username">@Model.UserName</span>
                    </a>
                }
                else
                {
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="@Model.ImagePath" style="height:40px; width:40px;">
                        <span class="username">@Model.UserName</span>
                    </a>
                }
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a asp-action="Profile" asp-area="" asp-controller="Account" asp-route-userName="@User.Identity.Name"><i class=" icon-suitcase"></i>Profile</a></li>
                    <li><a asp-action="EditProfile" asp-area="" asp-controller="Account" asp-route-userName="@Model.UserName"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
                    <li><a asp-action="LogOut" asp-area="" asp-controller="Account"><i class="icon-key"></i>@User.Identity.Name, Log Out</a></li>
                </ul>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav nav-tabs pull-right">
            <li style="border-right:solid 1px;">
                <a asp-action="Index" asp-controller="Home">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li style="border-right:solid 1px;">
                <a asp-action="Register" asp-controller="Account"><i class="icon-user"> </i>Register</a>
            </li>
            <li>
                <a asp-action="SignIn" asp-controller="Account"><i class="icon-user"> </i>Login</a>
            </li>
        </ul>
    }
</div>